## Bank Statement - PDF

##### 20240525095850_RK Mandiri.pdf

In [1]:
from img2table.document import PDF
from img2table.ocr import DocTR
import pandas as pd

file = PDF("sample/pdf/20240525095850_RK Mandiri.pdf")

ocr = DocTR(kw={"pretrained": True})

tables = file.extract_tables(ocr=ocr, borderless_tables=True, min_confidence=50).copy()

c:\Users\Azer\miniconda3\envs\test_img2table\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
WARNING:tensorflow:From c:\Users\Azer\miniconda3\envs\test_img2table\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

WARNING:tensorflow:From C:\Users\Azer\AppData\Roaming\Python\Python310\site-packages\tf2onnx\tf_loader.py:68: The name tf.reset_default_graph is deprecated. Please use tf.compat.v1.reset_default_graph instead.

WARNING:tensorflow:From C:\Users\Azer\AppData\Roaming\Python\Python310\site-packages\tf2onnx\tf_loader.py:72: The name tf.train.import_meta_graph is deprecated. Please use tf.compat.v1.train.import_meta_graph instead.

WARNING:tensorflow:From c:\Users\Azer\miniconda3\envs\test_img2table\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\Azer\miniconda3\envs\test_img2table\lib\site-packages\keras\src\layers\normalization\batch_normalization.py:979: The name tf.nn.fused_batch_norm is deprecated. Please use tf.compat.v1.nn.fused_batch_norm instead.

c:\Users\Azer\miniconda3\envs\test_img2table\lib\site-packages\img2table\tables\processing\bordered_tables\cells\identification.py:17: PerformanceWarning: Determining the column names of a LazyFrame requires resolving its schema, which is a potentially expensive operation. Use `LazyFrame.collect_schema().names()` to get the column names without this warning.
  .rename({col: f"{col}_" for col in df_h_lines.columns})
c:\Users\Azer\miniconda3\envs\test_img2table\lib\site-packages\img2table\tables\processing\bordered_tables\cells\deduplication.py:21: PerformanceWarning: Determining the column names of a LazyFrame requires resolving its schema, which is a potentially expensive operation. Use `LazyFrame.collect_schema().names()` to get the column names without this warning.
  .rename({col: f"{col}_" for col in df_cells.columns})

In [2]:
tables.items()

dict_items([(0, [ExtractedTable(title=TRANSACTION INQUIRY, bbox=(102, 542, 975, 735),shape=(5, 3)), ExtractedTable(title=None, bbox=(101, 780, 1563, 2046),shape=(26, 7))]), (1, [ExtractedTable(title=TRANSACTION INQUIRY, bbox=(107, 539, 980, 735),shape=(5, 3)), ExtractedTable(title=None, bbox=(103, 818, 1568, 2063),shape=(18, 7))]), (2, [ExtractedTable(title=None, bbox=(144, 273, 1418, 354),shape=(2, 5))])])

In [3]:
result = pd.concat([tables[0].pop(1).df.fillna(""), tables[1].pop(1).df.fillna("")], ignore_index=True)
result

,0,1,2,3,4,5,6
0,Date & Time,Value Date,,,,,
1,,,Description,Reference,Debit,Credit,Saldo
2,02/06/2022 11.38.01\n03/06/2022 09.16.15,02/06/2022\n03/06/2022,CK 233482-AGUNG PRASETYA\nTarik Tunai 00233482...,,"35,803,950.00\n0.00","0.00\n194,040,000.0","66,012,819.01 265,536,219.01\n260,052,819.01"
3,03/06/2022 15.44.24,03/06/2022,1640001647876,,0.00,"0\n5,483,400.00","66,012,819.01 265,536,219.01\n260,052,819.01"
4,,,1270006354748,,,,
5,06/06/2022 13.04.11,06/06/2022,4837950004794191 CK 233483-AGUNG\nPRASETYAJIN2...,,"156,550,000.00",0.00,"108,986,219.01"
6,06/06/2022 16.33.30,06/06/2022,00233483\nMCM InhouseTrf DARI,,0.00,"10,678,200.00","119,664,419.01"
7,07/06/2022 12.49.33,07/06/2022,MARGARETH SINOVAADELIN\nMCM InhouseTrf DARI YO...,,0.00,"200,000,000.0\n0","319,664,419.01"
8,07/06/2022 14.14.24,07/06/2022,CATUR RAHARJO\nPT PRIMA KONSTRUKSI 002,,0.00,"16,264,500.00","335,928,919.01"
9,08/06/2022 09.08.01,08/06/2022,Kabel N2XY 16mm PT SKM,M,0:00,"10,601,250.00","346,530,169.01"
10,,,MCM InhouseTrf DARI ANI,,,,
11,08/06/2022 09.43.17,08/06/2022,INDRASWARI ARDIANA\nCK: 233484-CICILAN KE 3 PO...,,"30,000,000.00",0.00,"316,530,169.01"
12,09/06/2022 06.10.15,09/06/2022,Transfer 00233484\nBG 439413-BG 439413 99411\n...,,"200,000,000.00",0.00,"116,530,169.01"
13,09/06/2022 09.04.14,09/06/2022,10439413\nPembayaran Invoice 243/NC/INV-\nVI/2022,,0.00,"55,446,975.00","171,977,144.01"
14,,,MCM InhouseTrf DARI MITRA,,,,
15,09/06/2022 11.52.02,09/06/2022,"EMAS INDOTAMA\nPO 84,22 KABELNYEGBY\n4X70MM 10...",,0.00,"66,780,000.00","238,757,144.01"
16,09/06/2022 12.27.13,09/06/2022,Setor Tunai\nNoxindo PO 386,,0.00,"4,226,063.00","242,983,207.01"
17,10/06/2022 08.56.10,10/06/2022,MCM InhouseTrf DARI BENVORS\nSARANA UTAMA\nMCM...,,0.00,"2,207,790.00","245,190,997.01"
18,10/06/2022 12.14.02,10/06/2022,GUNA INDOTECH\nCK 233486-,,"5,000,000.00",0.00,"240,190,997.01"
19,10/06/2022 12.15.23,10/06/2022,Tarik Tunai 00233486\nCK 233485-,,,0.00,"205,896,917.01"
20,10/06/2022 14.13.31,10/06/2022,Tarik Tunai 00233485\n00006-BEAMAATERAI 439413,,"7,000.00",0.00,"205,889,917.01"
21,,,09062022,,,,
22,,,MTS-Trf-Debet BEAMAATERAI,,,,
23,13/06/2022 11.48.46,13/06/2022,439413 09062022\nCK 233487-AGUNG PRASETYA,,"11,789,000.00",0.00,"194,100,917.01"
24,13/06/2022 14.49.03,13/06/2022,Tarik Tunai 00233487\nDP 70%,,0.00,"61,025,580.00","255,126,497.01"
25,,,Setor Tunai,,,,
26,Date & Time,Value Date,Description,Reference No.,Debit,Credit,Saldo
27,14/06/2022 08.38.51,14/06/2022,CK 233489-,,"66,327,000.00",0.00,"188,799,497.01"
28,,,Transfer 00233489 PELUNASAN,,,,
29,14/06/2022 08.42.36\n14/06/2022 08.57.35,14/06/2022\n14/06/2022,PO 015\nTransfer\nCK 233488-AGUNG PRASETYA,,"0.00\n38,535,400.00","6,031,740.00\n0.00","194,831,237.01\n156,295,837.01"
30,15/06/2022 02.24.34,15/06/2022,Tarik Tunai 00233488\nDari 1270006354748D Ke,,"16,463,225.00",0.00,"139,832,612.01"
31,,,1270100638525L,,,,
32,16/06/2022 11.03.06,16/06/2022,AGF-OtoGrabFnd\nCK 233490-233490,,"74,453,435.00",0.00,"65,379,177.01"
33,17/06/2022 07.21.11\n17/06/2022 08.29.57\n20/0...,17/06/2022\n17/06/2022\n20/06/2022,Tarik Tunai 00233490\nPRMA CR Transf 127000635...,,"0.00\n30,000,000.00\n0.00","20,000,000.00\n0.00\n3,552,000.00","85,379,177.01\n55,379,177.01\n58,931,177.01"
34,21/06/2022 09.40.39\n22/06/2022 11.33.10,21/06/2022\n22/06/2022,BSMDIDJA/CV ASA DINAMIKA\nUTAMA\npembayaran\nM...,,0.00\n0.00,"26,700,160.00\n22,755,000.00","85,631,337.01\n108,386,337.01"
35,,,,,,,"85,631,337.01\n108,386,337.01"
36,23/06/2022 11.54.01\n27/06/2022 09.22.30,23/06/2022\n27/06/2022,CK 233492-AGUNG PRASETYA\n00233492\nInvoice No...,,"52,485,502.00\n0.00","0.00\n158,441,400.0","55,900,835.01\n214,342,235.01"
37,,,Inward RTGS PT PRIMA,,,0,
38,28/06/2022 11.43.13,28/06/2022,KONSTRUKSIPT. BANK RAKYAT\nINDONESIA (PERSERO)...,,0.00,"14,280,000.00","228,622,235.01"
39,28/06/2022 11.53.02,28/06/2022,MCM InhouseTrf DARI WEEBZ\nMANDIRI\nCK 233493-,,"25,500,000.00",0.00,"203,122,235.01"
40,29/06/2022 09.47.44,29/06/2022,Tarik Tunai 00233493\nCK 233494-,,"16,016,500.00",0.00,"187,105,735.01\n187,103,735.01\n173,803,545.01"
41,30/06/2022 10.07.30\n30/06/2022 10.10.58,30/06/2022\n30/06/2022,Tarik Tunai 00233494\n1241752 1103 CAI LC Depo...,,"2,000.00\n13,300,1 ,190.00",0.00\n0.00,"187,105,735.01\n187,103,735.01\n173,803,545.01"
42,30/06/2022 10.12.16,30/06/2022,Tarik Tunai 00233495\nCK: 233496-,,"2,750,000.00",0.00,"171,053,545.01\n171,028,545.01\n171,141,774.21..."
43,30/06/2022 23.59.00\n30/06/2022 23.59.00\n30/0...,30/06/2022\n30/06/2022\n30/06/2022,Tarik Tunai 00233496\nBiava Adm\nBunaa\nPajak,,"25,000.00\n0.00\n22,645.84","0.00\n113,229.20\n0.00","171,053,545.01\n171,028,545.01\n171,141,774.21..."